.search-bar {
    display: flex;

    &__field {
        border: none;
        border-radius: 0 5px 5px 0;
        background-color: #f3f3f5;
        padding: 10px 50px 10px 10px;
        font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
        min-width: 500px;
        outline: none;
        color: #101840;
        font-size: 14px;
        font-weight: 600;

        &::placeholder {
            color: #989bad;
            font-weight: 600;
            font-size: 14px;
        }
    }

    &__icon::before {
        font: var(--fa-font-solid);
        content: "\f002";
        display: flex;
        align-items: center;
        background-color: #f3f3f5;
        height: 100%;
        color: #989bad;
        padding-left: 10px;
        border-radius: 5px 0 0 5px;
    }
}
