.side {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    background-color: #101840;
    color: #ffffff;
    min-width: 300px;
    font-size: 14px;

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
